main{
    min-height: 100vh;
    width: 100%;
}
#dataDisplay{
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: #036318 #d0cfcf;
}

/* responsive design */
@media screen and (max-width: 768px) {
    #dataDisplay{
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: thin;
        scrollbar-color: #036318 #d0cfcf;
    }
    .dataPageTop h2{
        font-size: 16px;
    }
    .clearUploadBtn button{
        font-size: 12px;
        padding: 5px;
    }
}